@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.form-section {
    @include flex-center(row);
    justify-content: space-between;
    padding: 3.5em;
    gap: 2rem;
    background-color: $secondary-color;


    .form-content {
        border-radius: 1.5em;
        padding: 1.5em;
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.25rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
        }

        small {
            font-size: 0.85rem;
            color: $secondary-color;
        }

        .form-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            input {
                padding: 0.75rem;
                border: 1px solid #ccc;
                border-radius: 6px;
            }
        }

        .form-security {
            align-self: start;
            @include flex-center(row);
            justify-content: space-between;
            align-items: center;
            width: 70%;
            gap: 0.75rem;

            h3 {
                font-weight: 600;
                font-size: 1.5rem;
            }

            span {
                font-size: 1.25rem;
                color: $secondary-color;
                font-weight: 600;
            }

            .calculate {
                display: inline-block;
                padding: 1em;
                background: darken($primary-color, 10%);
                font-size: 1.25rem;
                color: $secondary-color;
                font-weight: 600;
                border-radius: 0.5em;
            }

            input {
                width: 120px;
                padding: 0.5rem;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }

        button {
            align-self: center;
            padding: 0.75rem 1.5rem;
            background-color: lighten($button-color, 5%);
            color: $secondary-color;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;

            &:hover {
                background-color: $button-color;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .form-group {
            grid-template-columns: 1fr;
        }
    }
}
