@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints";

tags-section {
    padding: 3.5em;
    text-align: center;

    h2 {
        font-size: 3rem;
        color: $secondary-color;
        margin-bottom: 2rem;
        text-align: start;
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .tag {
        display: inline-block;
        padding: 0.5rem 2.5rem;
        border: 1px solid $tag-color;
        border-radius: 2rem;
        color: $tag-color;
        font-weight: 600;
        font-size: 1.25rem;
        white-space: nowrap;
        transition: background 0.2s;

        &:hover {
            background: lighten($tag-color, 40%);
            cursor: pointer;
        }
    }
}
