@use "../utils/variables" as *;
@use "../utils/breakpoints";

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin responsive-to($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: $breakpoint) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (max-width: $breakpoint) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (min-width: $breakpoint) {
            @content;
        }
    } @else if $breakpoint == xl {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}
