@use '../utils/variables' as *;

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin responsive($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }
}
