@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use "../utils/breakpoints";

@include responsive-to(xl) {
    .header {
        margin: 0;
        padding: 0;
        background-color: $secondary-color;
        border-radius: 0 0 2.5em 2.5em;
    }
}